<footer class="footer">
  <div class="footer__header">
    <img src="/assets/images/logo.svg" alt="insure-logo" />
    <div class="footer__icons">
      <a><img src="/assets/images/icon-facebook.svg" alt="facebook-icon" /></a>
      <a><img src="/assets/images/icon-twitter.svg" alt="twitter-icon" /></a>
      <a
        ><img src="/assets/images/icon-pinterest.svg" alt="pinterest-icon"
      /></a>
      <a
        ><img src="/assets/images/icon-instagram.svg" alt="instagram-icon"
      /></a>
    </div>
  </div>
  <div class="footer__links">
    <div>
      <p>our company</p>
      <div class="links">
        <a>how we work</a>
        <a>why insure?</a>
        <a>view plans</a>
        <a>reviews</a>
      </div>
    </div>
    <div>
      <p>help me</p>
      <div class="links">
        <a>faq</a>
        <a>terms of use</a>
        <a>privacy policy</a>
        <a>cookies</a>
      </div>
    </div>
    <div>
      <p>contact</p>
      <div class="links">
        <a>sales</a>
        <a>support</a>
        <a>live chat</a>
      </div>
    </div>
    <div>
      <p>others</p>
      <div class="links">
        <a>careers</a>
        <a>press</a>
        <a>licences</a>
      </div>
    </div>
  </div>
</footer>
